<% provide(:title, "#{@article.title} | Article") %>

<div class = "show_article_page">
	<div class = "title"><%= @article.title %></div>
	<div class = "content"><%= @article.content %></div>

	<div class = "comment">
		<% if @article.comments.any? %>
			<div class = "title">comments</div>
			<div class = "col-md-6 col-md-offset-3">	
				<%= render @comments %>
			</div>
		<% end %>
		
		<% if logged_in? %>
			<div class = "col-md-6 col-md-offset-3">	
				<%= form_for(@article, :url => article_path( @article ), :html => { :method => :patch }) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>

					<div class = "comment_box"><%= f.label :message, "Leave your comment" %></div>
					<%= f.text_area :message, placeholder: "Leave Your Comments...", name: "comments[content]", class: "form-control" %>

					<%= f.submit "Post", class: "btn btn-primary" %>
				<% end %>
			</div>
		<% end %>
	</div>

</div>