<div class = "header">
  		<div class = "nav_list">
        <div class = "item"><%= link_to "Home", root_url %></div>
        <div class = "item"><%= link_to "Article List", articles_path %></div>
        <div class = "item"><%= link_to "Post", new_article_path %></div>
        <div class = "item"><%= link_to "Github", 'https://github.com/nbafrank72000' %></div>
  			<div class = "item dropdown">
  				<a href="#" class = "dropdown-toggle" data-toggle = "dropdown">Chih-Chung Fang</a>
  				<div class = "down_list dropdown-menu">
  					<div class = "stack_item"><%= link_to "Profile", profile_blogs_path %></div>
  					<div class = "stack_item"><%= link_to "Contact", 'mailto:nbafrank72000@gmail.com' %></div>
  				</div>
  			</div>
			</div>
</div>